
    <div>
        <h2 id="Encabezado">Planifique las vacaciones de tus sueños</h2>
        <p id="Principal">En VisitanDO, nos ponemos a planificar con usted, y le ofrecemos la experiencia profesional y el conocimiento <br>necesario para planificar su nuevo viaje. 
            Cada uno de estos destinos somos expertos en su historia, ruta <br>y manejo en todas esas areas. Simplemente tome el teléfono, llámenos y nos encargaremos 
            del resto.</p>
    </div>

    <section id="seccion">
        <ul id="Cajas">
            <li>
              <figure id="Playa"><img class="Fotos" src="Img/Playa.jpg">
              </figure>
            </li>
            <li>
                <figure id="constanza"><img class="Fotos" src="Img/Constanza.jpg">
              </li>
              <li>
                <figure><img class="Fotos" src="Img/Zipline.jpg">
                </figure>   
              </li>
        </ul>          
    </section>

    <div>
        <h2 id="FaQ">Preguntas frecuentes</h2>
        <p id="Preguntas">Las respuestas a sus preguntas</p>
    </div>
    
    <section>
        <ul id="respuestas">
            <li>
              <figure><img class="fotos" src="Img/pregunta.png">
                <h2 id="titulo">¿Hay medicos de primeros <br>auxilios?</h2>
                <p id="contenido">Si, contamos con 3 medicos especializados <br>en cada viaje, ya que desgraciadamente en cualquier momento serían de utilidad <br>sus servicios.</p>
              </figure>
            </li>
            <li>
                <figure><img class="fotos" src="Img/pregunta.png">
                    <h2 id="titulo">¿Cómo puedo saber qué viaje es el adecuado para mí?</h2>
                    <p id="contenido">Todo dependera de usted, de cuales son sus planes y con que persona especial 
                        quiere compartir <br>ese gran magico viaje.</p>
              </li>
              <li>
                <figure><img class="fotos" src="Img/pregunta.png">
                    <h2 id="titulo">¿Cómo puedo cancelar una <br>reservación?</h2>
                    <p id="contenido">Solo ponganse en contacto con nosotros por <br>telefono y cuentele su situacion 
                        a la persona encargada de nuestra emmpresa y que esta le conteste.</p>
                </figure>   
              </li>
        </ul>          
    </section>
    
    <div class="up">
        <span class="icon icon-up-open"></span>
        </div>

    <div class="Video">
        <iframe width="1200" height="200" src="Img/Anuncio.gif" frameborder="0"></iframe>
    </div>  

