
<!-- Principal image -->
        <div class="Imagen2">
            <div class="contenedor">
            <img id="Principal" src="Img/Principal.jpg">
            <div class="centrado">Let's Travel Together
                <ul class="boton">
                    <li><a id="bton-img" href="/Galeria" >Galería</a></li>
                    <li><a id="bton-img" href="/Contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
<!-- End principal image-->

<!-- Short Information -->
        <div class="Informacion">
            <section id="titulo">
                <div class="titulo">
                    <h6 id="encabezado">Next Traveling Destination?</h6>
                    <h4 id="loquesigue">We've got you covered</h4>
                    <p id="texto-encabezado">En VisitanDO, nuestras ofertas especiales ayudan a los clientes a ahorrar dinero y tiempo,
                        <br> así pueden concentrarse en crear increíbles recuerdos. Eche un vistazo a algunas de
                        <br>nuestras ofertas actuales y contáctenos para aprovechar estas increíbles ofertas.</p>
                </div> 
        
                <ul id="Cajas">
                    <li class="SD">
                        
                      <figure><img class="Fotos" src="Img/Zona.jpg">
                            <h6 class="heading">Alcazar de Colón, SD</h6>
                            <p>El Alcázar de Colón es un palacio situado en la Plaza de España en la Ciudad Colonial
                                de Santo Domingo, que fue construido sobre un solar cercano a los farallones que miran hacia el río Ozama.</p>
                      </figure>
                    </li>
                    <li class="SM">
                        <figure><img class="Fotos" src="Img/Cayo-Levantado.jpg">
                            <h6 class="heading">Cayo Levantado, Samaná</h6>
                            <p>Es un islote en la bahía de Samaná, que pertenece administrativamente a la Provincia de Samaná, al noreste de 
                                la isla Santo Domingo en la República Dominicana. Se trata un destino turístico conocido en ese país. </p>
                        </figure>
                      </li>
                      <li class="JA">
                        <figure><img class="Fotos" src="Img/Jarabacoa.jpg">
                            <h6 class="heading">Jamaca de Dios, Jarabacoa</h6>
                            <p>Complejo Eco turístico de montaña cuyo objetivo es proveer un lugar tranquilo y acogedor para personas que aprecian 
                                la naturaleza y la tranquilidad.</p>
                        </figure>
                      </li>
                </ul>          
            </section>
        </div>
<!-- End Short information -->

<!-- Form contact us -->

<div class="contenido">

    <h1 class="logo">Contactanos</h1>

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
                <form action="/" method="POST">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Telefono</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="asunto">
                    </p>
                    <p class="block">
                       <label>Mensaje</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
        </div>
        <div class="ImagenD">
            <img src="Img/Noche.jpg">
        </div>
    </div>      

    <div class="up">
        <span class="icon icon-up-open"></span>
        </div>

