    <div>
        <h2 id="Encabezado">Todo sobre nosotros</h2>
        <h1 id="Subtitulo">El comienzo de su increíble viaje</h1>
        <p id="Principal">¿Sueña con darse una escapada? Permítanos organizar su viaje. VisitanDO ha brindado sus servicios de planificación de viajes <br>y 
            orientación de primera clase en Republica Dominicana desde el año 2021. Nuestros agentes dedicados son expertos <br>en encontrar las tarifas más 
            bajas y ayudarle a asegurar las mejores ofertas de viaje.
            <br><br>
            Gracias a nuestras excelentes relaciones con los operadores de la industria, podemos ofrecer promociones de viaje <br>únicas que no encontrará en 
            ningún otro lugar. Contáctenos hoy mismo para obtener una consulta gratuita. <br>Estamos aquí para que su experiencia sea lo más agradable y relajante posible.</p>
    </div>
    
    <section id="seccion">
        <h2 id="Expertos">Conozca a nuestro equipo de expertos</h2>
        <ul id="Cajas">
            <li>
              <figure id="Playa"><img class="Fotos" src="Img/Adam.jpg">
                <h6 class="heading">Adam Guerrero, <br>Agente de viajes especializado</h6>
              </figure>
            </li>
            <li>
                <figure id="constanza"><img class="Fotos" src="Img/Carlos.jpg">
                    <h6 class="heading">Carlos M. Jimenez,
                        <br>Agente de viajes para la familia</h6>
              </li>
              <li>
                <figure><img class="Fotos" src="Img/Goldo.jpg">
                    <h6 class="heading">Juan Manuel Muñoz,
                        <br>Agente ejecutivo de viajes</h6>
                </figure>   
              </li>
        </ul>          
    </section>

    <section id="seccion">
        <h2 id="Expertos">Misión, Visión y Valores</h2>
        <ul>
            <li>
                <figure id="Mision">
                <h6 class="titulo">Misión</h6>
                <p class="texto">Motivar el turismo interno y hacerlo accesible a todas las personas.</p>
              </figure>
            </li>

            <li>
                <figure id="Vision">
                    <h6 class="titulo">Visión</h6>
                    <p class="texto">Convertirnos en una empresa reconocida en todo el país, la cual las 
                        personas nos elijan para disfrutarse un buen viajecito a un nuevo lugar de su país.</p>
                </figure>
            </li>
              
            <li>
                <figure id="Valores">
                    <h6 class="titulo">Valores</h6>
                    <li id="Cajas2">Respeto</li>
                    <li id="Cajas2">Responsabilidad</li>
                    <li id="Cajas2">Unión</li>
                    <li id="Cajas2">Compromiso</li>
                    <li id="Cajas2">Integridad</li>
                </figure>   
            </li>
        </ul>          
    </section>

    <div class="up">
        <span class="icon icon-up-open"></span>
        </div>