    <div class="footer">
        <div>
            <ul>
                <li class="iconos"><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                <li class="iconos"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li class="iconos"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                <li class="iconos"><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© 2020 All Rights Reserved. Design By VisitanDO</a></p>
    </div>
    
    <hr id="barrafinal">