<div>
        <img id="imagen1" src="Img/Logo.png">
    <audio class="audio" autoplay controls volume="0.2" loop  muted preload="valor" src="Music.wav" style="margin-left: 230px;" >
    </audio>
        <hr id="barra">
        <ul class="Nav">
            <li id="Menu"><a class="Menu" href="/">Home</a></li>
            <li id="Menu"><a class="Menu" href="/Destino">Destino</a></li>
            <li id="Menu"><a class="Menu" href="/Galeria">Galería</a></li>
            <li id="Menu"><a class="Menu" href="/Nosotros">Nosotros</a></li>
            <li id="Menu"><a class="Menu" href="/Contacto">Contacto</a></li>
        </ul>
    </div>